<div id="home" class="bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <br><br><br><br>
        <h1 class="display-4 text-center">
          <i class="fas fa-exclamation-triangle"></i> 404 Not Found
        </h1>
      </div>
    </div>
  </div>
</div>