<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark unique-color-dark">

  <!-- Navbar brand -->
  <a class="navbar-brand navfont" href="/">BikePal</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Left Side  -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-home"></i> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pricing">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>
    </ul>

    <!-- Right Side -->
    <ul class="navbar-nav navbar-right">
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Member Portal</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/signup">Sign Up</a>
          <a class="dropdown-item" href="/login">Login</a>
          {{!-- <a class="dropdown-item" href="/logout">Logout</a> --}}
        </div>
      </li>
    </ul>
  </div>
</nav>


<div id="home" class="bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    <i class="fas fa-user-circle"></i>About BikePal</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card" id="aboutus">
                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center z-depth-2">

                        <!-- Title -->
                        <h3 class="card-title aboutustitle" style="font-style: italic; color">
                            <strong>BikePal isn't just any regular cycle class</strong>
                        </h3>

                        <!-- Text -->
                        <p class="card-text" style="font-size: 16px">A little cycling goes a long way, for members constantly on the go. At BikePal, we’re here to give our members the motivation to kick off the covers and kick into gear on our cycling bikes. We offer all type of spinning classes for all type of members: for beginners, for seniors, for pregnant women and much more.  We have classes to fit all your needs: Hip-Hop Spinning, Spinning with my Baby and Me, UpHill Workout, Feel the Burn and much more.</p>

                        <p class="card-text" style="font-size: 16px">Founded in Miami, Florida and located in the heart of Coral Gables, we are home to spinning lovers from all backgrounds, starting from beginners who have never taken a spinning class to advanced spinners who have been cycling for years. Our schedules are flexible for spinners on the go: our hours start from 6:30am in the morning to 8:00pm in the evenings.  We are open Monday through Sunday for all your needs.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/index.js"></script> {{!--
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/js/mdb.min.js"></script> --}}