<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark unique-color-dark">

    <!-- Navbar brand -->
    <a class="navbar-brand navfont" href="/">BikePal</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Left Side  -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pricing">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
            </li> 
        </ul>

        <!-- Right Side -->
        <ul class="navbar-nav navbar-right">
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Member Portal</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    {{!--
                    <a class="dropdown-item" href="/signup">Sign Up</a>
                    <a class="dropdown-item" href="/login">Login</a> --}}
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div id="home" class="bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Welcome <span class="member-name"></span> (<span class="member-email"></span>)</h2>
                <br>
            </div>
        </div>

        <div class="row">

            <!-- Reserve Class Column -->
            <div class="col-md-8">
                <div class="card" id="reserveclass">
                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center z-depth-2">

                        <!-- Title -->
                        <h3 class="card-title reservetitle">
                            <strong>Reserve Class</strong>
                        </h3>

                        <!-- INSERT Form to Reserve Class HERE -->
                       
                    </div>
                </div>
            </div>

            <!-- Updates Column -->
            <div class="col-md-4">
                <div class="card" id="membersupdates">
                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center z-depth-2">

                        <!-- Title -->
                        <h3 class="card-title memberstitle">
                            <strong>New Updates</strong>
                        </h3>

                        <!-- Updates -->
                        <ul>
                            <li><p class="card-text" style="font-size: 20px">August 27, 2018: New cycle class, "Power Climbing" is coming soon.  We will be climbing hills (even mountains!) at different intensities and intervals.  Stay tuned for more info!</p></li>
                            <br>
                            <li><p class="card-text" style="font-size: 20px">September 3, 2018: Limited classes available for Labor Day.  We will have classes from 8:00am - 2:00pm.  On Tuesday, Sept. 4th we will resume normal business hours.</p></li>
                            <br>
                            <li><p class="card-text" style="font-size: 20px">September 6, 2018: Class special pack: 10 classes on sale for $65!  Please see front desk for more details.</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/members.js"></script>