<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark unique-color-dark">

  <!-- Navbar brand -->
  <a class="navbar-brand navfont" href="/">BikePal</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Left Side  -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-home"></i> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pricing">Pricing</a>
      </li>
    </ul>

    <!-- Right Side -->
    <ul class="navbar-nav navbar-right">
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Member Portal</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/signup">Sign Up</a>
          <a class="dropdown-item" href="/login">Login</a>
          {{!-- <a class="dropdown-item" href="/logout">Logout</a> --}}
        </div>
      </li>
    </ul>
  </div>
</nav>


<div id="home" class="bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    <i class="fas fa-user-circle"></i>Pricing Plans</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <h2 id="plans_title">BikePal has plans for all our spinners' needs</h2>


                <div class="card-deck">
                    <!--Panel-->
                    <div class="card" id="price_panel">
                        <div class="card-header unique-color-dark white-text plan-header">Plan One: 10 Pack (Month to Month)</div>
                        <div class="card-body plan-text">
                            <ul>
                                <li>$75.00 per month</li>
                                <li>10 Classes to use whenever you need.</li>
                                <li>No contract - cancel at any time.</li>
                                <li>Additional classes offered at discounted rates.</li>
                            </ul>
                        </div>
                    </div>
                    <!--/.Panel-->

                    <!--Panel-->
                    <div class="card" id="price_panel">
                        <div class="card-header unique-color-dark white-text plan-header">Plan Two: Unlimited Classes (Month to Month)</div>
                        <div class="card-body plan-text">
                            <ul>
                                <li>$125.00 per month</li>
                                <li>Unlimited classes all month.</li>
                                <li>Can take multiple classes per day.</li>
                                <li>No contract - cancel at any time.</li>
                            </ul>
                        </div>
                    </div>
                    <!--/.Panel-->

                    <!--Panel-->
                    <div class="card" id="price_panel">
                        <div class="card-header unique-color-dark white-text plan-header">Plan Three: Annual Membership</div>
                        <div class="card-body plan-text">
                            <ul>
                                <li>$100.00 per month</li>
                                <li>Unlimited classes all month.</li>
                                <li>Contract - annual membership can be paid for all year or month to month</li>
                                <li>Can take multiple classes per day.</li>
                            </ul>
                        </div>
                    </div>
                    <!--/.Panel-->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/index.js"></script> {{!--
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/js/mdb.min.js"></script> --}}